body {
    background-image:url("Images/background.png");
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-size:cover;
	color:ffffff;
	text-align: center;
	padding:150px;
}
form {
    text-align: center;
	align-items:center;
}
input{
	color:#ffffff;
	margin-bottom:5px;
	padding:10px;
	font-size:32px;
	font-family:Arial;
	background-color:rgba(0,0,0,0.7);
	border: 1px solid #ffffff;
	border-radius:15px;
}
label{
	color:#ffffff;
	font-size:32px;
}